/* styles.css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    box-sizing: border-box;
}

header .logo {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: white;
}

nav {
    background-color: #144bff;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Ajusta distribución de los elementos */
    padding: 1rem 0;
    box-sizing: border-box;
    }

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 2rem;
}

.hero img {
    max-width: 100%;
    height: auto;
}
.articlestitle{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.textarticles{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.arcanephoto {
    max-width: 40%;
    padding-left: 5%;
    height: auto;
}
.spacephoto {
    max-width: 40%;
    padding-left: 5%;
    height: auto;
}
.spacediv{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.arcanediv{
    display: flex;
    justify-content: space-around;
    padding: 2rem; 
}

.highlights {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.highlight {
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.form {
    text-align: center;
    padding: 2rem;
    background-color: #333;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #111;
    display: flex;
    justify-content: space-around;
}
 .logofooter{
    max-width: 10%;

    height: auto;
 }